body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}

.orange-text {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {

    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* header related style */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile {
    width: 500px;

}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}

.banner-content {
    max-width: 500px;
}

/* main section style */
.section-title {
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* about section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 500px;
}

.section-description {
    color: #757575;
    text-align: center;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.section-dis {
    padding: 30px 700px;
}

/* skills related style */

.skills-container {
    display: flex;
    padding: 30px 500px;
    gap: 100px;
}

.skill {
    padding: 30px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

.section-title{
    font-size: 50px;
}

main section {
    margin-top: 130px;
}

/* Resume Section styles */
.resume-column-title {
    color:  #474747;
    font-size: 30px;
    font-weight: 700;
   
}
.resume-container{
    display: flex;
    gap: 50px;
    padding: 100px 300px;
}
.resume-item-intitute, .resume-item-description{
    color:#757575;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-container hr{
    margin: 30px;
}

.resume-item-intitute{
    margin-bottom: 20px;
    margin-top: 0px;
}
.download-cv{
    text-align: center;
    
}

/* footer style */

footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background-color: #FFF;
    border: 0;
    width: 100%;
}
.social-links a{
    margin-right: 25px;
  
}